{% extends 'base.html' %}

{% block inicio %}
<style>
    tr:hover {
        background: #55555563;
        transition: background 0.3s;

    }
    a {
        color: black;
    }
</style>
<center>
    <title>Estacionamento | Início</title>
    <h5 style="margin-bottom: 20px; margin-top: 20px;">Tabela de mensalistas</h5>
    <table class="table" style="text-align: center;">
        <thead style="background-color: #555; color: white;">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Valor</th>
                <th scope="col">Dia de vencimento</th>
                <th scope="col">Data de início</th>
            </tr>
        </thead>
        {% for mensalista in mensalistas %}
        <tbody>
            <tr>
                <th scope="row"><a href="{% url 'mensalista' mensalista.id %}">{{mensalista.nome}}</a></th>
                <td>{{mensalista.cpf}}</td>
                <td>{{mensalista.valor}}</td>
                <td>{{mensalista.dia_vencimento}}</td>
                <td>{{mensalista.data_inicial}}</td>
            </tr>
            {% endfor %}
    </table>
</center>
{% endblock %}